
    .main-wrapper {
        display: flex;
        width: 100%;
        max-width: 1050px;
        margin: 0 auto;
        box-sizing: border-box;
        padding-bottom: 100px;
        flex-direction: column;
        align-items: center;

        padding-top: 50px;
        gap: 47px;
        align-self: stretch;
    }
    
    .category-bar a {
        color: var(--font-font-1, #333);
        width: 170px;
        font-family: Pretendard;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: -1px;
    }


    .category-bar {
        display: flex;
        padding: 30px 40px;
        align-items: flex-start;
        align-content: flex-start;
        gap: 16px 83px;
        align-self: stretch;
        flex-wrap: wrap;
        border: 1px solid var(--stroke-stroke-2, #E2E2E2);
    }

    

    .content-wrapper {
        display: flex;
        gap: 40px;
    }
    
    .filter-sidebar {
        width: 200px;
        flex-shrink: 0;
    }
    
    .filter-header {
        display: flex;
        padding-bottom: 20px;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        border-bottom: 1px solid var(--stroke-stroke-2, #E2E2E2);
        display: flex;

    }

    .filter {
        color: var(--font-font-1, #333);
        font-family: Pretendard;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 133.333% */
    }

    .reset {
        display: flex;
        align-items: flex-start;
        gap: 5px;
        color: var(--font-font-3, #DDD);
        font-family: Pretendard;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 133.333% */
    }

    .category-filter {
        display: flex;
        height: 52px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

    }

    .filter-title {
        color: var(--font-font-1, #333);
        font-family: Pretendard;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 133.333% */
    }

    .category-detail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    .category-detail li {
        display: flex;
        padding-bottom: 16px;
        align-items: center;
        gap: 5px;
    }

    .number {
        color: var(--font-font-3, #DDD);
        font-family: Pretendard;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
    }


    .sort-bar {
        display: flex;
        padding-bottom: 20px;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
    }
    
    .sort-options {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    
    .sort-options a {
        color: var(--font-font2, #999);
        font-family: Pretendard;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; 
    }

    .sort-options a.active {
        color: var(--font-font-1, #333);
        font-family: Pretendard;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 133.333% */
    }

    .total-count {
        color: var(--font-font-1, #333);
        font-family: Pretendard;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 133.333% */
    }


    .divider-icon {
        width: 1px;
        height: 10px;
        background: #E2E2E2;
    }
    



    .product-grid {
        display: flex;
        padding-top: 32px;
        align-items: flex-start;
        align-content: flex-start;
        gap: 32px 18px;
        align-self: stretch;
        flex-wrap: wrap;
    }
    

    .product-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
        width: 249px;
    }
    
    
    .product-img-box img {
        width: 249px;
        height: 320px;
        background: var(--stroke-stroke-2, #E2E2E2);
    }
    
    .cart {
        display: flex;
        height: 36px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        align-self: stretch;
        border-radius: 4px;
        border: 1px solid var(--stroke-stroke-2, #E2E2E2);
    }


    .cart-btn {
        color: var(--font-font-1, #333);
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
    }


    

    .product-info {
        display: flex;
        padding: 8px 10px 0px 0px;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }
    
    .delivery-type {
        color: var(--font-font2, #999);
        font-family: Pretendard;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: -1px;
    }
    
    .product-name {
        display: flex;
        padding-top: 4px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        flex: 1 0 0;
        color: var(--font-font-1, #333);
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
    }
    
    .product-desc {
        flex: 1 0 0;
        color: var(--font-font2, #999);
        font-family: Pretendard;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
        display: flex;
        padding-top: 4px;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
    }
    
    .price-info {
        display: flex;
        padding-top: 8px;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .price-info del {
        color: var(--font-font2, #999);
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        text-decoration-line: line-through;
    }
    
    .price-info .discount {
        color: var(--point-red, #FA622F);
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; 
    }
    
    .real-price {
        display: flex;
        align-items: flex-start;
        gap: 8px;
    }


    .final {
        color: var(--font-font-1, #333);
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 150% */
    }
    
    .category-bar a.hovered {
    color: #5f0080;   
    font-weight: 700;
    }

    /* 카테고리 박스 */
    .selected {
        display:none;
        padding: 20px 16px 18px 16px;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        border: 1px solid var(--stroke-stroke-2, #E2E2E2);
    }

    .category-tag {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px; 
    }

    .category-tag span {
        color: var(--point-main, #5E0080);
        font-family: Pretendard;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: -1px;
    }