<!-- 임시 회원가입 페이지 -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/accounts/signup.css' %}">



<div class="container">
  
  <form action="{% url 'accounts:signup' %}" method="POST" id="signup-form">
    {% csrf_token %}

    <div class="top">

      <div class="box1">
        <h2 class="title">회원가입</h2>
      </div>

      <div class="line1"></div>

      <div class="box2">
        <div class="id-box">
          <label for="id">아이디</label>
          <input type="text" id="id" name="username" placeholder="아이디를 입력해주세요" required>
        </div>

        <div class="password-box">
          <label for="password">비밀번호</label>
          <div class="password-left">
            <input type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요" required>
            <ul>
              <li>비밀번호를 8자 이상으로 작성해주세요.</li>
              <li>영문 대소문자, 숫자, 특수문자를 하나 이상 포함해주세요.</li>
              <li>사용가능 특수문자 @ ! ? - _</li>
            </ul>
          </div>
        </div>

        <div class="password-check-box">
          <label for="password-check" >비밀번호 확인</label>
          <div class="password-check-left">
            <input type="password" id="password-check" name="password2" placeholder="비밀번호를 한번 더 입력해주세요" required>
            <p id="pw-mismatch-msg" style="display: none; color: #FA622F; font-size: 14px;">비밀번호가 일치하지 않습니다!</p>
          </div>

        </div>
      </div>
      <div class="line2"></div>

    </div>



    <div class="bottom">
      <button type="submit" class="signup-btn" id="signup-btn" disabled>가입하기</button>
    </div>


  </form>


</div>

<script src="{% static 'js/accounts/signup.js' %}"></script>


{% endblock %}

