{% extends 'base.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/main/product_detail_page.css'%}"
/>


<div class="container">
  <div class="wrapper">
    <!-- 왼쪽: 이미지 영역 -->
    <div class="product-image">
      <img class="image" src="{% static 'assets/fruit.png' %}" alt="{{ product.name }}">
    </div>

    <!-- 오른쪽: 상품 정보 영역 -->
    <div class="product">
      <div class="section1">
          <p class="delivery">샛별배송</p>
          <h2 class="product-name">{{product.name}}</h2>
          <div class="price">
              <p class="discount-rate">{{product.discount_rate}}%</p>
              <p class="discount-price">{{product.discount_price}}원</p>
          </div>

          <div class="divider-line"></div>

          <div class="notice-box">
            <p class="notice-title">안내 사항</p>
            <p class="notice-desc">{{product.notice}}</p>
          </div>

          <div class="divider-line"></div>


          <div class="option">
            <p class="option-title">상품 선택</p>
            <div class="option-box">
                <p class="option-name">[선물세트] 유통섭취 사과세트 3.6kg (12입)</p>
                <div class="quantity">
                  <p class="minus">-</p>
                  <span class="option-num">2</span>
                  <p class="plus">+</p>
                </div>
            </div>
          </div>
          <div class="divider-line"></div>


      </div>

      <div class="section2">

        <div class="price-box">
          <div class="price-title">총 상품 금액:</div>
          <div class="total-price">158,000원</div>
        </div>


        <button class="login-btn">로그인</button>

    </div>
  </div> 
</div>




<div class="screen">
  <div
    style="
      width: 1050px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px 0px;
    "
  >
  
<!-- 여기에 후기를 작성하는 폼을 만들어주세요! -->

  <div class="product-comment">
    <div class="H1 text-font1" style="margin: 10px">상품후기</div>
      <form action = "create_comment/" method = "POST">
        {% csrf_token %}
        <select name="star" style="margin: 10px">
          <option value="별점">별점</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <input id="text_area" type="textarea" name="content">
        <input id="button_click" type="submit" value="등록" disabled> 
      </form> 
  </div>



    {% for comment in comments %}
    <div
      style="
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 20px 8px;
        border-bottom: solid 1px #d9d9d9;
      "
    >
      <div style="display: flex; justify-content: space-between">
        <p>평점:{{comment.star}}</p>
        <a href="{% url 'main:delete_comment' comment.id %}">삭제</a>
      </div>
      <p class="B1">{{comment.content}}</p>
    </div>
    {% endfor%}
  </div>
</div>


<script>
	document.addEventListener("DOMContentLoaded", function () {
		// 여기에 작성해주세요!
    const button_click = document.getElementById("button_click");
    const text_area = document.getElementById("text_area");

    text_area.addEventListener("input", (event) => {
      if(text_area.value.trim().length >0 ){
        button_click.disabled = false;

      }
      else {
        button_click.disabled = true;
      }
    })

	})
</script>


{% endblock %}
<script src="{% static 'js/main/product_detail_page.js'%}"></script>
